* {
    margin: 0;
    padding: 0;
}

.Hero{
    background: #5385e2 url(/imagefiles/aaron-burden-GVnUVP8cs1o-unsplash.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-weight: bold;
    margin: 0rem;
    padding: 2rem;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-right: 10px;
    border: 2px;
    border: 5px solid black;
    border-style: solid;
}

img{
    border-radius: 50%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;

}

a {
    color: #333399;
    text-decoration: none;
    font-weight: bold;

}

section {
    background-color: #FCF8FF;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 130%;
    padding: 1rem;

}

Ul li {
    list-style: none;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding-left: 0.5rem;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: 1rem;
}

aside ul,
aside li {
    padding: 0;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    padding: 1rem;
}

footer {
    background-color: #D16BA5;
    width: auto;
    height: auto;
    padding: 1rem;
    padding-right: 10rem;
    margin: 0rem;
    border: #D16BA5 1rem;
}

article {
    background-color: white;
    
    margin: 5rem;
    padding: 1rem;
    padding-right: 1rem;
    border: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

header picture,
h1,
header p {
    position: relative;
    left: 40%;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

aside p {
    color: black;
    font-weight: bold;
    font-size: 110%;
    padding-bottom: 10px;
    padding-right: 0;
}

aside {
    background-color: rgb(110, 143, 143);
    padding: 1rem;
    padding-right: 7rem;
    border: 20px;
    margin: 0rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 70rem;
}
form{
    position: relative;
    left: 30%;
    padding: 10px;

}

form button{
    font-family: sans-serif;
    font-weight:bold ;
    position: relative;
    background-color: #333399;
    margin-left: 45%;
    padding: 10px;
    width: 100px;
    height: 30px;
}

form label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
    width: 100px;
    height: 40px;
}

.contact-form{
    max-width: 400px;
    max-height: 250px;
    margin: 20px;
}

.message-lab{
    vertical-align: top;
}
span{
    color: brown;
}
/*======================Mobile================= */

/*======================Tablet================= */

/*======================Desktop================= */